<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.utng.apptodoenuno">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Todo en Uno"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Prestamo"></activity>
        <activity android:name=".Juego" />
        <activity android:name=".Viaje3Activity" />
        <activity android:name=".Viaje2Activity" />
        <activity android:name=".ViajeActivity" />
        <activity android:name=".PrincipalActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>